node_modules/
jspm_packages/
web_modules/

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
*.env.*

dist/
build/
.next/
.nuxt/
.cache/
.npm/


# Visual Studio Code
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json

# JetBrains (WebStorm, IntelliJ IDEA, PyCharm etc)
.idea/
*.iws
*.iml
*.ipr


*.sublime-project
*.sublime-workspace


.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db
desktop.ini


coverage/
.nyc_output/

.eslintcache
.stylelintcache